<div>
  <img src="assets\images\stackoverflowRocket.jpg" class="center" />
</div>
<div style="text-align: center;">
  <h3>Got some questions? Then ask them below!</h3>
</div>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <!-- Search form -->
    <input
      [(ngModel)]="search"
      style="width: 30em;
        margin-right: 1em;"
      class="form-control"
      type="text"
      placeholder="Search"
      aria-label="Search"
    />
    <button (click)="searchQuestion()" class="btn btn-outline-primary">
      Search
    </button>
  </div>
</div>
