<div>
  <img src="assets\images\stackoverflowRocket.jpg" class="center" />
</div>
<div style="text-align: center;">
  <h3>Got some questions? Then ask them below!</h3>
</div>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input
        class="search_input"
        type="text"
        name="expandingScrollbar"
        placeholder="Search..."
      />
      <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
    </div>
  </div>
</div>
